html {
	height: 100%;
}
body {
	margin: 0;
	box-sizing: border-box;
	font-family: Catamaran, Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	background-image: linear-gradient(
		135deg,
		#c000ce 0%,
		#1c6ea4 50%,
		#9ec53d 100%
	);
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
}
